<p id="notice"><%= notice %></p>

<p>
  <strong>Short name:</strong>
  <%= @loan_type.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan_type.description %>
</p>

<p>
  <strong>Payment frequency days:</strong>
  <%= @loan_type.payment_frequency_days %>
</p>

<p>
  <strong>Is profit balane:</strong>
  <%= @loan_type.is_profit_balane %>
</p>

<p>
  <strong>Number of payments:</strong>
  <%= @loan_type.number_of_payments %>
</p>

<p>
  <strong>Profit by payment:</strong>
  <%= @loan_type.profit_by_payment %>
</p>

<p>
  <strong>Total profit:</strong>
  <%= @loan_type.total_profit %>
</p>

<p>
  <strong>Late fee:</strong>
  <%= @loan_type.late_fee %>
</p>

<p>
  <strong>Late fee profit:</strong>
  <%= @loan_type.late_fee_profit %>
</p>

<%= link_to 'Edit', edit_loan_type_path(@loan_type) %> |
<%= link_to 'Back', loan_types_path %>
