<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>


<%= link_to 'Loans', admin_loans_path %>
<%= link_to 'Payments', admin_payments_path %>
<%= link_to 'Moneylenders', admin_moneylenders_path %>
<%= link_to 'Loan types', admin_loan_types_path %>
<%= link_to 'Statuses', admin_statuses_path %>
<%= link_to 'Extra fees', admin_extra_fees_path %>