<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>


<%= link_to 'Loans', loans_path %>
<%= link_to 'Payments', payments_path %>
<%= link_to 'Moneylenders', moneylenders_path %>
<%= link_to 'Loan types', loan_types_path %>
<%= link_to 'Statuses', statuses_path %>
<%= link_to 'Extra fees', extra_fees_path %>