<a href="<%=creditors_path%>/list_all" class="btn btn-info btn-sm ">Ver todas las cuentas</a>
<div class="btn-group btn-group-toggle float-right" data-toggle="buttons" role="group" aria-label="Vistas">
    <a href="<%=creditor_path(session[:money_lender_id], render_view_loans: "users")%>" type="button" class="filterbtn btn btn-sm btn-light <%="active" if @render_view_loans=="users" %>" data-remote="true"><input type="radio" name="options_view" id="option1" autocomplete="off" <%="checked" if @render_view_loans=="users" %>>Usr</a>
    <a href="<%=creditor_path(session[:money_lender_id], render_view_loans: "table")%>" type="button" class="filterbtn btn btn-sm btn-light <%="active" if @render_view_loans=="table" %>" data-remote="true"><input type="radio" name="options_view" id="option2" autocomplete="off" <%="checked" if @render_view_loans=="table" %>>Lista</a>
 </div>

 <a id="searchDelayed" href="<%=creditor_path(session[:money_lender_id], filter: "active")%>" type="button" class="filterbtn btn btn-outline-primary btn-sm " data-searchtext="<%=t(:open)+' '+t(:active)%>" data-remote="true">
  <%=t(:active)%> <span class="badge badge-light"><%=@moneylender.loans_active%></span>
  <span class="sr-only">Prestamos activos</span>
 </a>

 <a id="searchDelayed" href="<%=creditor_path(session[:money_lender_id], filter: "delayed")%>" type="button" class="filterbtn btn btn-outline-danger btn-sm " data-searchtext="<%=t(:open)+' '+t(:delayed)%>" data-remote="true">
  <%=t(:retrazados)%> <span class="badge badge-light"><%=@moneylender.loans_delayed%></span>
  <span class="sr-only">Prestamos retrazados</span>
 </a>

 <a id="searchDelayed" href="<%=creditor_path(session[:money_lender_id], filter: "coming")%>" type="button" class="filterbtn btn btn-outline-warning btn-sm " data-searchtext="<%=t(:open)+' '+t(:coming)%>" data-remote="true">
  <%=t(:proximo)%> <span class="badge badge-light"><%=@moneylender.loans_coming%></span>
  <span class="sr-only">Prestamos proximos</span>
 </a>

 <a id="searchAware" href="<%=creditor_path(session[:money_lender_id], filter: "aware")%>" type="button" class="filterbtn btn btn-outline-info btn-sm " data-searchtext="<%=t(:open)+' '+t(:aware)%>" data-remote="true">
  <%=t(:al_corriente)%> <span class="badge badge-light"><%=@moneylender.loans_ok%></span>
  <span class="sr-only">Prestamos al corriente</span>
 </a>

 <a id="searchPaied" href="<%=creditor_path(session[:money_lender_id], filter: "paied")%>" type="button" class="filterbtn btn btn-outline-success btn-sm " data-searchtext="<%=t(:paid)%>" data-remote="true">
  <%=t(:pagados)%> <span class="badge badge-light"><%=@moneylender.loans_paied%></span>
  <span class="sr-only">Prestamos pagados</span>
 </a>

 <a id="searchClosed" href="<%=creditor_path(session[:money_lender_id], filter: "close")%>" type="button" class="filterbtn btn btn-outline-secondary btn-sm " data-searchtext="<%=t(:close)%>" data-remote="true">
  <%=t(:cerrados)%> <span class="badge badge-light"><%=@moneylender.loans_closed%></span>
  <span class="sr-only">Prestamos Cerrados</span>
 </a>
 <a id="searchClosed" href="<%=creditor_path(session[:money_lender_id], filter: "all")%>" type="button" class="filterbtn btn btn-outline-secondary btn-sm " data-searchtext="<%=t(:todos)%>" data-remote="true">
  <%=t(:todos)%> <span class="badge badge-light"><%=@moneylender.loan.count%></span>
  <span class="sr-only">Todos</span>
 </a>