<% if @users.any? %>
  <% @users.order('users.name').each_with_index do |user, index| %>
    <% if index%6 == 0 && index>0 %></div><% end %>
    <% if index%6 == 0 %><div class="row g-5"><% end %>
        <div class="user_loans_item col-xs-4 col-md-3 col-lg-2 col-xl" data-user="<%=user.id%>" data-lender="<%=session[:money_lender_id]%>">
          <div class="p-3 border 
            <%= case session[:filter_loan]
                when "active"
                  "bg-primary  text-white"
                when "delayed"
                  "bg-danger  text-white"
                when "coming"
                  "bg-warning  text-white"
                when "aware"
                  "bg-info  text-white"
                when "paied"
                  "bg-success  text-white"
                when "close"
                  "bg-secondary  text-white"
                else 
                  "btn-outline-primary"
                end %>">
            <b><%= user.complete_name %></b>

            <div class="d-inline-flex">
              <b><small><%= pluralize(loans.where(user_id: user.id).count, 'prestamo')  %> &#x02C5;</small></b>
            </div>
            <%= link_to  " ", client_path(user.id), class: "icon_user float-right" %>
            <div class="loans_detail row">
            </div>

          </div>
        </div>
  <% end %>
<%else%>
  <div class="mx-auto">
    No hay prestamos <%=session[:filter_loan]%>
<%end%>
  </div>