<%= javascript_pack_tag 'creditors' %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>

<%= render partial: "resume" %>

<div class="btn-group" role="group">
 <button id="searchDelayed" type="button" class="btn btn-danger searchloantable" data-searchtext="<%=t(:open)+' '+t(:delayed)%>">
  <%=t(:retrazados)%> <span class="badge badge-light"><%=@moneylender.loans_delayed%></span>
  <span class="sr-only">Prestamos retrazados</span>
 </button>

 <button id="searchAware" type="button" class="btn btn-primary searchloantable" data-searchtext="<%=t(:open)+' '+t(:aware)%>">
  <%=t(:al_corriente)%> <span class="badge badge-light"><%=@moneylender.loans_ok%></span>
  <span class="sr-only">Prestamos al corriente</span>
 </button>

 <button id="searchPaied" type="button" class="btn btn-success searchloantable" data-searchtext="<%=t(:paid)%>">
  <%=t(:pagados)%> <span class="badge badge-light"><%=@moneylender.loans_paied%></span>
  <span class="sr-only">Prestamos pagados</span>
 </button>

 <button id="searchClosed" type="button" class="btn btn-secondary searchloantable" data-searchtext="<%=t(:close)%>">
  <%=t(:cerrados)%> <span class="badge badge-light"><%=@moneylender.loans_closed%></span>
  <span class="sr-only">Prestamos Cerrados</span>
 </button>
</div>

<div class="table-responsive">
  <table id="loanslisttable" class="table table-hover table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%=t('loan_table.status')%></th>
      <th scope="col"><%=t('loan_table.amount_payment')%></th>
      <th scope="col"><%=t('loan_table.user')%></th>
      <th scope="col"><%=t('loan_table.loan_type')%></th>
      <th scope="col"><%=t('loan_table.borrowed')%></th>
      <th scope="col"><%=t('loan_table.balance')%></th>
      <th scope="col"><%=t('loan_table.payments')%></th>
      <th scope="col"><%=t('loan_table.payment_date')%></th>
      <th scope="col"><%=t('loan_table.start_end')%></th>
    </tr>
    </thead>
    <tbody>
     <% @loans.each do |loan| %>
      <tr class=<%='"add_payment table-danger" data-dialogpath='+new_loan_payment_path(loan) if loan.delayed? %>
          <%='"show_detail_loan table-success" data-loanpath='+loan_path(loan) if loan.paied? %>
          <%='"show_detail_loan table-primary" data-loanpath='+loan_path(loan) if loan.ok? %>
          <%='"show_detail_loan table-secondary" data-loanpath='+loan_path(loan) if loan.closed? %> >
        <th scope="row"><%= link_to loan.code, loan_path(loan) %> </th>
        <td><%= t(loan.status.name.downcase) %><br/><small>
          <%=t(:delayed) if loan.delayed? %>
          <%=t(:aware) if loan.ok? %> 
          </small></td>
        <td><%= number_to_currency(loan.next_amount_payment) %></td>
        <td><%= loan.user.complete_name %></td>
        <td><%= loan.loan_type.short_name %></td>
        <td><%= number_to_currency(loan.amount_borrowed) %></td>
        <td><%= number_to_currency(loan.balance) %></td>
        <td><%= loan.payments.count %></td>
        <td><%=loan.days_left%><br/><small><%= loan.next_payment_date.strftime("%m/%d") %></small></td>
        <td><small><%= loan.start_date.strftime("%y/%m/%d") %><br/><%= loan.end_date.strftime("%y/%m/%d") unless loan.end_date.nil? %></small></td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Back', 'list_all', class: "btn btn-secondary btn-lg" %>

<%= render partial: "modal" %>