<%= javascript_pack_tag 'creditors' %>
<%= render partial: "resume" %>

</br>

<% @users.each_with_index do |user, index| %>
  <% if index%6 == 0 && index>0 %></div><% end %>
  <% if index%6 == 0 %><div class="row g-5"><% end %>
      <div class="user_loans_item col-xs-4 col-md-3 col-lg-2 col-xl" data-user="<%=user.id%>" data-lender="<%=@loans.first.moneylender_id%>">
        <div class="p-3 border text-white
          <%="bg-danger"  if user.delayed? %>
          <%="bg-success" if user.paied? %>
          <%="bg-primary" if user.ok? %>">
          <b><%= user.complete_name %></b><br/>
          <small><%= pluralize(user.loans.count, 'prestamo')  %></small>
          <div class="loans_detail row g-5">
          </div>
        </div>
      </div>
  
<% end %>
  </div>

<%= render partial: "modal" %>