<%= javascript_pack_tag 'creditors', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>

<div id="container_buttons">
   <%= render partial: "buttons_filter" %>
</div>

<div id="container_resume">
   <%= render partial: "resume" %>
</div>

</br>

<div id="container_loans">

  <%= render partial: "loans_" + @render_view_loans, locals: { users: @users, loans: @loans } %>

</div>

<%= render partial: "modal" %>