<%= javascript_pack_tag 'creditors', 'data-turbolinks-track': 'reload' %>


<div class="row">

<%= link_to t(:buttons_previous), url_for(action: 'weekly_payments', controller: 'creditors', moneylender_id: @moneylender.id, year: @week_start.year, week: @week_start.cweek - 1 ), class: "btn btn-secondary btn-lg col-4" %>

<span class="col-4 text-center align-middle">
<%=t(:del)%> <%=@week_start.strftime("%y/%m/%d")%> <%=t(:a)%> <%=@week_end.strftime("%y/%m/%d")%>
</span>

<%= link_to t(:buttons_next), url_for(action: 'weekly_payments', controller: 'creditors', moneylender_id: @moneylender.id, year: @week_start.year, week: @week_start.cweek + 1 ), class: "btn btn-secondary btn-lg col-4" %>

</div>
</br>

<div class="card">
   <div class="card-body text-center">
   <h2><%=t(:total_semanal)%>: <%=number_to_currency(@total_a_pagar)%></h2>
   <h2><%=t(:pagado)%>: <%=number_to_currency(@total_pagado)%></h2>
   </div>
</div>


<% @loans.each do |loan| %>
   <div class="col-md">
      
      <% if ((!@payments_week.exists?( loan_id: loan.id ) && !loan.paied?) || !@payments_week.where( loan_id: loan.id ).first.is_complete? ) %>
      <div class="m-2 p-2 bg-danger rounded" >
      DEUDA
      <% else %>
      <div class="m-2 p-2 bg-success rounded" >
      PAGADO
      <% end %>
      <b><%= loan.user.complete_name %></b> <small>(<%= number_to_currency(loan.amount_borrowed) %>)</small>
      
      <a id="ver_detalle" role="button" aria-pressed="true" class="btn btn-light float-right" href="<%=loan_path(loan)%>">Ver Detalle</a>
      <% if loan.delayed? %>
         <% if loan.payments.parents.count > 0 && !loan.payments.parents.last.is_complete? %>
         <a id="add_aqui" role="button" aria-pressed="true" class="add_payment btn btn-warning float-right" data-dialogpath="<%=loan_new_subpayment_path(loan,loan.payments.parents.last.id)%>">Completar Abono</a>
         <% else %>
         <a id="add_aqui" role="button" aria-pressed="true" class="add_payment btn btn-warning float-right" data-dialogpath="<%=new_loan_payment_path(loan)%>">Abono</a>
         <% end %>
      <% end %>
      <%= t(loan.status_text) %>

      <% if @payments_week.exists?( loan_id: loan.id ) %>
         <% @payments_week.where( loan_id: loan.id ).each do |p| %>
            <br>Abono de: <%= number_to_currency(p.amount) %>
            <% unless p.is_complete? %>
            Resta: <b><%= number_to_currency(loan.calcule_weekly_payment(@year, @week) - p.amount) %></b>
            <% end %>
         <% end %>
      <% else %>
         <br>Abono de: <%= number_to_currency(loan.calcule_weekly_payment(@year, @week)) %>
      <% end %>
      </div>
   </div>
<% end %>

<%= render partial: "modal" %>