<%= javascript_pack_tag 'loans', 'data-turbolinks-track': 'reload' %>

<%= form_with(model: @loan, local: true) do |form| %>
  <% if loan.errors.any? || ( !new_user.nil? && new_user.errors.any? ) %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <h2><%= pluralize(loan.errors.count + (!new_user.nil? ? new_user.errors.count : 0), "error") %> </h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% if !new_user.nil? %>
          <% new_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4 col-sm-12">
      <%= form.label :moneylender_id %>
      <% if current_user.admin? %>
      <%= form.collection_select :moneylender_id, Moneylender.order(:alias), :id, :alias, {include_blank: false}, {:class=>"form-control"} %>
      <% else %>
      <%= form.hidden_field :moneylender_id %>
      <%= loan.moneylender.alias%>
      <% end %>
    </div>

    <div class="form-group col-md-4 col-sm-12 d-none">
      <%= form.label :status_id %>
      <%= form.collection_select :status_id, Status.order(:id), :id, :name, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    <div class="form-group col-md-4 col-sm-12">
      <%= form.label :amount_borrowed %>
      <%= form.number_field :amount_borrowed, :class=>"form-control" %>
    </div>
  </div>

  <div class="d-flex" style="overflow: auto;">
    <% @loan_types.order('description').each do |type| %>
      <div class="p-2">
      <a id="ltype" role="button" aria-pressed="true" class="select_type btn btn-outline-primary btn-sm" 
      data-typeid="<%=type.id%>"
      data-description="<%=type.description%>"
      data-is_profit_balane="<%=type.is_profit_balane%>"
      data-payment_frequency_days="<%=type.payment_frequency_days%>"
      data-number_of_payments="<%=type.number_of_payments%>"
      data-profit_by_payment="<%=type.profit_by_payment%>"
      ><%= type.short_name %></a>
      </div>
    <% end %>
  </div>
  
  <small>
  <a class="card-header" data-toggle="collapse" href="#collapseDetallePrestamo" role="button" aria-expanded="false" aria-controls="collapseDetallePrestamo">
    Detalle del prestamo
  </a></small>
  
  <div id="collapseDetallePrestamo" class="card collapse">
    <div class="row card-body">
      <div class="form-group col-2">
          <%= form.label :is_profit_balane %>
          <%= form.check_box :is_profit_balane, :class=>"form-control" %>
      </div>
      <div class="form-group col-10">
        <%= form.label :description %>
        <%= form.text_field :description, :class=>"form-control" %>
      </div>
   
      <div class="form-group col-md-3 col-sm-6">
        <%= form.label :payment_frequency_days %>
        <%= form.number_field :payment_frequency_days, :class=>"form-control" %>
      </div>
      <div class="form-group col-md-3 col-sm-6">
        <%= form.label :number_of_payments %>
        <%= form.number_field :number_of_payments, :class=>"form-control" %>
      </div>

      <div class="form-group col-md-3 col-sm-6">
        <%= form.label :profit_by_payment %>
        <%= form.text_field :profit_by_payment, :class=>"form-control" %>
      </div>
      
    </div>
  </div>
  
  <br/>
  <div class="row">
    <div class="col-6 text-right">Cada pago de:</div>
    <div class="col-6"><h3 class="monto_pago">-</h3></div>
  </div>
  <br/>

  <div class="card" >
    <h5 class="card-header"><%= form.label :user_id%></h5>

    <div class="row card-body form-inline">
      <div id="collapseListUser" class="form-group col-md-9 col-sm-6 collapse multicollapseNewUser <%='show' if @add_new_user !='true'%>">
        
        <%= form.hidden_field :user_id %>
        <input id="search_users" class="form-control" placeholder="Buscar cliente....">
      </div>
      <div class="form-group col-md-3 col-sm-6 ">
        <button id="btn_add_new_user_in_loan" class="btn btn-light" type="button" data-target=".multicollapseNewUser" data-toggle="collapse" aria-expanded="false" aria-controls="collapseNewUser collapseListUser">
      <%=t('loan.new_user')%> &#x02C5;</button>
      </div>
    </div>

    <div id="collapseNewUser" class=" collapse multicollapseNewUser <%='show' if @add_new_user =='true'%>">
      <div class="row card-body">
        <%=hidden_field(:add, :new_user, value: @add_new_user) %>
        <div class="form-group col-md-4 col-sm-6">
          <%= label  :new_user, :name %>
          <%= text_field :new_user, :name, :class=>"form-control" %>
        </div>
        <div class="form-group col-md-4 col-sm-6">
          <%= label  :new_user,:lastname %>
          <%= text_field :new_user,:lastname, :class=>"form-control" %>
        </div>
        <div class="form-group col-md-4 col-sm-12">
          <%= label  :new_user,:email %>
          <%= email_field :new_user,:email, :class=>"form-control" %>
        </div>
      </div>
    </div>

  </div>

  

  <div class="row">
    <div class="form-group col-md-4 col-sm-12">
      <%= form.label :loan_date %>
      <%= form.text_field :loan_date, :class=>"form-control datepicker", :autocomplete => "off" %>
    </div>

    <div class="form-group col-md-4 col-sm-12">
      <%= form.label :start_date %>
      <%= form.text_field :start_date, :class=>"form-control datepicker", :autocomplete => "off" %>
    </div>

  </div>


  <div class="actions">
    <%= link_to 'Cancel', creditor_path(@loan.moneylender_id), class: 'btn btn-secondary' %>
    
    <%= form.submit nil, class: 'btn btn-success' %>
  </div>
<% end %>

<%= javascript_pack_tag 'defaults' %>