<%= form_with(model: @loan, local: true) do |form| %>
  <% if loan.errors.any? || new_user.errors.any? %>
    <div id="error_explanation" class="alert alert-warning" role="alert">
      <h2><%= pluralize(loan.errors.count + new_user.errors.count, "error") %> </h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% new_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-4">
      <%= form.label :moneylender_id %>
      <%= form.collection_select :moneylender_id, Moneylender.order(:alias), :id, :alias, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    <div class="form-group col-4">
      <%= form.label :status_id %>
      <%= form.collection_select :status_id, Status.order(:id), :id, :name, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    <div class="form-group col-4">
      <%= form.label :amount_borrowed %>
      <%= form.number_field :amount_borrowed, :class=>"form-control" %>
    </div>
  </div>

  <div class="row">

    <div class="form-group col-4">
      <%= form.label :loan_type_id %>
      <%= form.collection_select :loan_type_id, LoanType.order(:short_name), :id, :short_name, {include_blank: false}, {:class=>"form-control"} %>
    </div>
    <div id="collapseListUser" class="form-group col-4 collapse multicollapseNewUser <%='show' if @add_new_user !='true'%>">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, User.order(:id), :id, :name, {include_blank: false}, {:class=>"form-control"} %>
    </div>
  </div>
  <button id="btn_add_new_user_in_loan" class="float-right btn btn-light" type="button" data-target=".multicollapseNewUser" data-toggle="collapse" aria-expanded="false" aria-controls="collapseNewUser collapseListUser">
    <%=t('loan.new_user')%> &#x02C5;</button>

  <div id="collapseNewUser" class="card  collapse multicollapseNewUser <%='show' if @add_new_user =='true'%>">
      <h5 class="card-header"><%=t('loan.new_user')%></h5>
      <div class="row card-body">
        <%=hidden_field(:add, :new_user, value: @add_new_user) %>
        <div class="form-group col-4">
          <%= label  :new_user, :name %>
          <%= text_field :new_user, :name, :class=>"form-control" %>
        </div>
        <div class="form-group col-4">
          <%= label  :new_user,:lastname %>
          <%= text_field :new_user,:lastname, :class=>"form-control" %>
        </div>
        <div class="form-group col-4">
          <%= label  :new_user,:email %>
          <%= email_field :new_user,:email, :class=>"form-control" %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="form-group col-4">
      <%= form.label :loan_date %>
      <%= form.text_field :loan_date, :class=>"form-control datepicker", :autocomplete => "off" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :start_date %>
      <%= form.text_field :start_date, :class=>"form-control datepicker", :autocomplete => "off" %>
    </div>

  </div>


  <div class="actions">
    <%= link_to 'Cancel', creditor_path(@loan.moneylender_id), class: 'btn btn-secondary' %>
    
    <%= form.submit nil, class: 'btn btn-success' %>
  </div>
<% end %>

<%= javascript_pack_tag 'defaults' %>