<%= form_with(model: @loan, url: loans_path, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-4">
      <%= form.label :moneylender_id %>
      <%= form.collection_select :moneylender_id, Moneylender.order(:alias), :id, :alias, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    <div class="form-group col-4">
      <%= form.label :status_id %>
      <%= form.collection_select :status_id, Status.order(:id), :id, :name, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    <div class="form-group col-4">
      <%= form.label :amount_borrowed %>
      <%= form.text_field :amount_borrowed, :class=>"form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-4">
      <%= form.label :loan_type_id %>
      <%= form.collection_select :loan_type_id, LoanType.order(:short_name), :id, :short_name, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    <div class="form-group col-4">
      <%= form.label :user_id %>
      <%= form.collection_select :user_id, User.order(:id), :id, :email, {include_blank: false}, {:class=>"form-control"} %>
    </div>

    
  </div>

  <div class="row">
    <div class="form-group col-4">
      <%= form.label :loan_date %>
      <% form.date_select :loan_date %>
      <%= form.text_field :loan_date, :value=> Date.today, :class=>"form-control datepicker" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :start_date %>
      <% form.date_select :start_date %>
      <%= form.text_field :start_date, :value=> Date.today, :class=>"form-control datepicker" %>
    </div>

  </div>


  <div class="actions">
    <%= link_to 'Cancel', creditor_path(@loan.moneylender_id), class: 'btn btn-secondary' %>
    
    <%= form.submit nil, class: 'btn btn-success' %>
  </div>
<% end %>
