<p id="notice"><%= notice %></p>

<div class="card">
  <h5 class="card-header"><%=@loan.moneylender.alias%> banco: <%=@loan.moneylender.bank%> </h5>
  <h5 class="mb-1">$<%=@loan.next_amount_payment%> a pagar el <%=@loan.next_payment_date%> </h5>
 
  <div class="row">
    <div class="col"><strong>Moneylender:</strong><%= @loan.moneylender.alias %></div>
    <div class="col"><strong>Status:</strong><%= @loan.status.name %></div>
    <div class="col"><%= @loan.user.complete_name %></div>
    <div class="col"><%= @loan.loan_type.short_name %></div>
    <div class="col"><strong>Loan date:</strong><%= @loan.loan_date %></div>
  </div>
  <div class="row">
    <div class="col"><strong>Borrowed:</strong><%= number_to_currency(@loan.amount_borrowed) %></div>
    <div class="col"><strong>Balance:</strong> <%= number_to_currency(@loan.balance) %></div>
    <div class="col"><strong>Start date:</strong><%= @loan.start_date %></div>
    <div class="col"><strong>End date:</strong><%= @loan.end_date %></div>
    <div class="col"><strong><%=pluralize(@loan.payments.size, 'pago')%></strong></div>
  </div>
  <div class="row">
    <div class="col"><strong>Next payment:</strong><%= number_to_currency(@loan.next_amount_payment) %></div>
    <div class="col"><strong>Next payment date:</strong><%= @loan.next_payment_date %></div> 
  </div>
</div>
<p class="mb-1">.</p>
<small>cantidad en deuda $<%=@loan.balance%> finaliza el <%=@loan.start_date%></small>

<%= render template: "payments/index" %>

<%= link_to 'Edit', edit_admin_loan_path(@loan) %> |
<%= link_to 'Back', admin_loans_path %>
