<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header <%="bg-danger" if @loan.delayed? %>
          <%="bg-success" if @loan.paied? %>
          <%="bg-primary" if @loan.ok? %>
          <%="bg-warning" if @loan.coming? %>
          <%="bg-secondary" if @loan.closed? %>">
          <%= link_to t('loan.edit_loan'), edit_loan_path(@loan), class: 'btn btn-outline-dark float-right' if @can_user_edit%>
          <h5><%=@loan.status_text%> <%=@loan.user.complete_name%> <%=number_to_currency(@loan.amount_borrowed)%></h5>
          
  </div>
  <div class="row">
    <h5 class="col-sm-6"><%=t('loan.next_payment')%>:<strong><%= number_to_currency(@loan.next_amount_payment) %></strong></h5>
    <h5 class="col-sm-6"><%=t('loan.balance')%>:<strong><%= number_to_currency(@loan.balance) %></strong></h5>
  </div>
  <a class="float-right badge badge-light" data-toggle="collapse" href="#collapseCardTitle" role="button" aria-expanded="false" aria-controls="collapseCardTitle">
    <%=t(:more)%> &Hacek;</a>

  <div id="collapseCardTitle" class="card-title collapse">
    <div class="row card-body">
      <div class="col-md-9 col-sm-12"><%=t('loan.type')%>: <strong><%= @loan.description %></strong></div>

      <div class="col-md-1 col-sm-4"><%=t('loan.frecuency')%>: <strong><%= @loan.payment_frequency_days %></strong></div>
      <div class="col-md-1 col-sm-4"><%=t('loan.num_pays')%>: <strong><%= @loan.number_of_payments %></strong></div>
      <div class="col-md-1 col-sm-4"><%=t('loan.profit')%>: <strong><%= @loan.profit_by_payment %>%</strong></div>

      <div class="col-md-4 col-sm-12"><%=t('loan.payment_date')%>: <strong><%= @loan.next_payment_date %></strong></div>
      <div class="col-md-4 col-sm-12"><strong><%=t('loan.start')%>:</strong><%= @loan.start_date %><br/><strong><%=t('loan.end')%>:</strong><%= @loan.end_date %></div>
    </div>
    <div class="row card-body">
      <div class="col-md-4 col-sm-12"><strong><%=t('loan.money_lender')%>:</strong> <%= @loan.moneylender.alias %></div>
      <div class="col-md-4 col-sm-12"><strong><%=t('loan.borrowed')%>:</strong> <%= number_to_currency(@loan.amount_borrowed) %></div>
      <div class="col-md-4 col-sm-12"><strong><%=t('loan.balance')%>:</strong> <%= number_to_currency(@loan.balance) %></div>
      <div class="col-md-4 col-sm-12"><strong><%=pluralize(@loan.payments.size, 'pago')%></strong></div>
      <div class="col-md-4 col-sm-12"><strong><%=t('loan.created_date')%>:</strong><%= @loan.loan_date %></div>
      <div class="col-md-4 col-sm-12"><strong><%=t('loan.next_payment_date')%>:</strong><%= @loan.next_payment_date %></div>
    </div>
    <div class="row">
      
    </div>
  </div>
  
</div>
<%= link_to t('loan.delete_loan'), [@loan], method: :delete, data: { confirm: 'Are you sure to delete this loan?' }, class: 'btn btn-outline-danger float-right' if @can_user_edit %>

<%= render template: "payments/index" %>

<% if @can_user_edit %>
  <%= link_to t('buttons.back'), creditor_path(@loan.moneylender_id), class: "btn btn-secondary btn-lg" %>
<% else %>
  <%= link_to t('buttons.back'), '/', class: "btn btn-secondary btn-lg" %>
<% end %>
