

<%= form_with(model: [@loan, @payment] ) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @loan.code %> <%= @loan.user.complete_name%></h3>
  <%= form.hidden_field :parent_id %>
  <div class="row">
    <div class="form-group col-md">
      <%= form.label :amount %>
      <%= form.text_field :amount, :class=>"form-control" %>

      <input type="checkbox" id="autocalculate" value="" checked="<%=@autocalculate%>">
      <label for="autocalculate"><%=t(:autocalcular)%></label>
    </div>
    

    <div class="form-group col-md">
      <%= form.label :payment_date %>
      <%= form.text_field :payment_date, :class=>"form-control datepicker" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md">
      <%= form.label :profit %>
      <%= form.text_field :profit, :class=>"form-control-sm form-control-plaintext", :data => { :original => payment.profit } %>
    </div>

    <div class="form-group  col-md">
      <%= form.label :payment_to_borrowed %>
      <%= form.text_field :payment_to_borrowed, :class=>"form-control-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= form.label :status_id %>
      <%= form.collection_select :status_id, Status.order(:id), :id, :name, {include_blank: false}, {:class=>"form-control-sm"} %>
    </div>
  </div>

  <div class="modal-footer">
    <!--button href="<%=backpath %>" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
    <%= link_to t('payment.cancel'), backpath, class: "btn btn-secondary", data: { dismiss: "modal"} %>
    <%= form.submit t('payment.add_payment'), class: 'btn btn-success' %>
  </div>
<% end %>
<%= javascript_pack_tag 'defaults' %>