<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @payment.loan_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment.payment_date %>
</p>

<p>
  <strong>Profit:</strong>
  <%= @payment.profit %>
</p>

<p>
  <strong>Payment to borrowed:</strong>
  <%= @payment.payment_to_borrowed %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
