<%= form_with(model: extra_fee, url: admin_extra_fees_path, local: true) do |form| %>
  <% if extra_fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extra_fee.errors.count, "error") %> prohibited this extra_fee from being saved:</h2>

      <ul>
        <% extra_fee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :loan_id %>
    <%= form.collection_select :loan_id, Loan.order(:id), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :late_fee %>
    <%= form.text_field :late_fee %>
  </div>

  <div class="field">
    <%= form.label :late_fee_profit %>
    <%= form.text_field :late_fee_profit %>
  </div>

  <div class="field">
    <%= form.label :old_balance %>
    <%= form.text_field :old_balance %>
  </div>

  <div class="field">
    <%= form.label :new_balance %>
    <%= form.text_field :new_balance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
