<p id="notice"><%= notice %></p>

<h1>Loan Types</h1>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Short name</th>
      <th>Description</th>
      <th>Payment frequency days</th>
      <th>Is profit balane</th>
      <th>Number of payments</th>
      <th>Profit by payment</th>
      <th>Total profit</th>
      <th>Late fee</th>
      <th>Late fee profit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_types.each do |loan_type| %>
      <tr>
        <td><%= loan_type.short_name %></td>
        <td><%= loan_type.description %></td>
        <td><%= loan_type.payment_frequency_days %></td>
        <td><%= loan_type.is_profit_balane %></td>
        <td><%= loan_type.number_of_payments %></td>
        <td><%= loan_type.profit_by_payment %></td>
        <td><%= loan_type.total_profit %></td>
        <td><%= loan_type.late_fee %></td>
        <td><%= loan_type.late_fee_profit %></td>
        <td><%= link_to 'Show', admin_loan_type_path(loan_type) %></td>
        <td><%= link_to 'Edit', edit_admin_loan_type_path(loan_type) %></td>
        <td><%= link_to 'Destroy', admin_loan_type_path(loan_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan Type', new_admin_loan_type_path %>
